<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> edit pricing</h4>

                    <form class="forms-sample" method="post" action="{% url 'updatepricing' dataid=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" value="{{data.NAME}}" name="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1",>Photos</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Photos" value="{{data.PHOTOS}}" name="Photos">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1",>Camera</label>
                        <input type="text" class="form-control" id="exampleInputName3" placeholder="Camera" value="{{data.CAMERA}}" name="Camera">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1",>Term</label>
                        <input type="text" class="form-control" id="exampleInputName4" placeholder="Term" value="{{data.TERM}}" name="Term">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1",>Pricing</label>
                        <input type="text" class="form-control" id="exampleInputName5" placeholder="Pricing" value="{{data.PRICING}}" name="Pricing">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label>File upload</label>-->
<!--                        <img src="{{data.IMAGE.url}}" width="200px" height="200px">-->
<!--                      <div class="input-group col-xs-12">-->
<!--                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="image" value="{{data.IMAGE.url}}" >-->
<!--                          <span class="input-group-append">-->
<!--                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                          </span>-->
<!--                      </div>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label>File upload</label>-->
<!--                        <img src="{{data.IMAGE.url}}" width="200px" height="200px">-->

<!--                        <div class="input-group col-xs-12">-->
<!--                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="image">-->
<!--                          <span class="input-group-append">-->
<!--                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                          </span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">City</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                      </div>-->

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
</body>
</html>
{% endblock %}