<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title"></h4>

                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>

                            <th> Name </th>
                            <th> Email</th>
                            <th> Mobile </th>
                            <th> Date </th>
                            <th> Type </th>
<!--                            <th>image</th>-->
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.NAME }}</td>
                            <td>{{ d.EMAIL }}</td>
                            <td>{{ d.MOBILE }}</td>
                            <td>{{ d.DATE }}</td>
                            <td>{{ d.TYPE }}</td>

<!--                            <td>-->
<!--                            <img src="{{d.IMAGE.url}}">-->
<!--                        </td>-->
<!--                            <td>-->

<!--&lt;!&ndash;                                <form action="{% url 'editpricing' dataid=d.id %}">&ndash;&gt;-->

<!--                              <button type="submit" class="btn btn-success">edit </button>-->
<!--                                </form>-->
<!--                            </td>-->
                            <td>


                            <td>
                              <form action="{% url 'deletebooking' dataid=d.id %}">
                              <button type="submit" class="btn btn-success">delete </button>
                              </form>
                            </td>
                             </tr>


{% endfor %}
                        </tbody>

                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}